Code - OSS/
dconf/
Electron/
EOS-greeter.conf
gedit/
gtk-3.0/
gtk-4.0/
JetBrains/
kitty/
mimeapps.list
nwg-look/
pavucontrol.ini
pulse/
QtProject.conf
reflector-simple-free-params.txt
sqlitebrowser/
sublime-text/
Thunar/
xfce4/
xsettingsd/
yay/
